:root {
  --primary-color: #ec6e4c;
  --secondary-color: #944238;
}

.container {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 696px;
  margin: 0 auto 40px;
}

.weather {
  background: linear-gradient(
    163deg,
    rgba(239, 244, 244, 0.8) 0%,
    rgba(229, 229, 237, 0.8) 31%,
    rgba(185, 185, 204, 0.8) 60%,
    rgba(156, 157, 180, 0.8) 100%
  );
  margin: 20px auto;
  border: 1px solid #8d98a1;
  border-radius: 15px;
  box-shadow: 10px 15px 17px #685856f1;
  padding: 20px 30px 30px;
  min-width: 696px;
}

.city-search {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 30px;
}

.form-search,
.form-submit,
.geo-icon {
  padding: 7px 20px;
  box-shadow: 5px 5px 7px #8f7e7bf1;
  border-radius: 20px;
}

.form-search,
.form-search:focus {
  border: 1px solid #8d98a1;
  width: 65%;
  outline: none;
  background: rgba(255, 255, 255, 0.63);
  box-shadow: 5px 5px 7px #a39492f1;
}

.form-submit {
  width: 24%;
  color: white;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  transition: all 150ms ease-in-out;
}

.form-submit:hover {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.city-search .geo-icon {
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  color: white;
  padding: 11px 14px 7px;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.city-search .geo-icon:hover {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.city {
  font-size: 32px;
  font-weight: 500;
  color: var(--secondary-color);
  text-transform: capitalize;
}

.description:first-letter {
  text-transform: capitalize;
}

.icon {
  position: relative;
  top: -17px;
}

.temperature {
  font-size: 64px;
  font-weight: 500;
}

.units {
  position: relative;
  top: -40px;
}

.units .active {
  color: #212529;
  cursor: default;
}

ul {
  list-style: none;
  padding-left: 0;
}

.value {
  color: var(--secondary-color);
  font-weight: 500;
}

small {
  text-align: center;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

hr {
  margin: 0;
}

.weather-forecast {
  text-align: center;
  justify-content: space-around;
  margin-top: 25px;
}
